body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.top,
.info,
.quote,
.action,
.footer {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 18% 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.top-links {
    display: flex;
    gap: 15px;
}

.intro {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.intro-blob {
    width: 400px;
}

.sign-up {
    background-color: #3882f9;
    color: #F9FAF8;
    border: none;
    box-shadow: none;
    border-radius: 8px;
    padding: 6px 26px;
    margin-top: 9px;
    font-weight: 800;
}

.big {
    font-size: 48px;
    font-weight: 1000;
}

.logo {
   font-size: 24px; 
}

.top-links,
.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    align-items: center;
    padding: 50px 22% 100px;
}

.gallery {
    display: flex;
    gap: 10px;
}

.gallery-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.gallery-picture {
    border: 2px solid #3882f9;
    border-radius: 8px;
    width: 120px;
}

.info-header {
    font-weight: 1000;
    font-size: 36px;
    margin-bottom: 50px;
}

.picture-info {
    font-size: medium;
    color: grey;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 22%;
}

.quotation {
    color: #1F2937;
    font-style: italic;
    font-size: 26px;
    font-weight: lighter;
}

.speaker {
    align-self: flex-end;
    font-weight: bold;
    font-size: medium;
    margin-top: 30px;
}